/*signup & login*/

#form{
            background-color: white;
            width: 30%;
            margin: auto;
            margin-top: 60px;
        
        }
        input,button{
            width: 100%;
            font-size: 15px;
            display: block;
            padding: 8px 0px 8px 0px;
        }
        #button{
            background-color: black;
            color: white;
            padding: 5px 0px 5px 0px;
            font-size: 18px;
            margin-top: 20px;
            cursor: pointer;
        }
        #radio{
         display: flex;
            margin-left: -20px;
            font-size: 8px;
        }
        
           form{
            margin-top: 10px;
            /* font-size: 18px; */
           }
           span{
            font-size: 18px;
            display: block;
            margin: 10px 0px 10px 0px; 
            line-height: 25px;
            text-align: justify;
           }
           #email{
            margin-bottom: 25px;
          }
         #center{
            text-align: center;
         }  
         #checkbox{
            display: flex;
         }
         #gender{
           width: 20px;height: 20px;
         }
        label{
            font-size: 18px;
         }
         span:first-child{
            margin: 0;
         }
 
